/* Footer.css */

.footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}

.social-text {
  color: #FFFF;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.social-links {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social-link {
  margin: 0 10px;
}

.social-link a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.social-link a:hover {
  text-decoration: underline;
}

.social-icon {
  font-size: 3rem; /* Ajusta el tamaño en "rem" según tus preferencias */
  margin-right: 1rem; /* Ajusta el margen en "rem" según tus preferencias */
}

.social-icon.facebook-icon {
  color: #3b5998; /* Color de Facebook */
}

.social-icon.youtube-icon {
  color: #ff0000; /* Color de YouTube */
}

.social-icon.discord-icon {
  color: #7289da; /* Color de Discord */
}

.social-icon.twitter-icon {
  color: #1da1f2; /* Color de Twitter */
}


/* .icon-container {
  display: flex;
  align-items: center;
}

/* .icon-link {
  margin-right: 10px;
} */
