/* Navbar.css */

.navbar {
  background-color: #333333;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.navbar-brand {
  display: flex;
  align-items: center;
  margin-right: auto;
}

/* Estilos para la barra de navegación */
.barra-navegacion {
  background-color: #333333;
  padding: 10px;
}

/* Estilos para el botón desplegable */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-btn {
  background-color: #333333;
  color: #ffffff;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropdown-btn i {
  margin-right: 5px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 120px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content button {
  color: #333333;
  padding: 10px;
  text-align: left;
  border: none;
  background-color: transparent;
  width: 100%;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.navbar-logo {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.navbar-name {
  color: #FF5500;
  font-weight: bold;
  font-size: 1.5rem; /* Equivalente a 20px */
}

.navbar-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-item {
  margin-right: 1rem;
}

.navbar-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem; /* Equivalente a 16px */
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.navbar-link:hover {
  background-color: #555555;
}
