/* Partida.css */

.partida {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.equipo {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.equipo-a {
  color: #e53935; /* Color del equipo A */
}

.equipo-b {
  color: #1976d2; /* Color del equipo B */
}

.versus {
  font-size: 24px;
  margin-bottom: 10px;
}

.bracket,
.fecha {
  font-size: 14px;
  color: #666;
}
