/* Torneo.css */

.torneo {
  display: flex;
  justify-content: center;
  align-items: center; /* Centra verticalmente las columnas */
  min-height: calc(100vh - 200px); /* Ajusta la altura del torneo, restando la altura de la barra de navegación y el footer */
  margin: 20px; /* Añade un margen alrededor del torneo */
  background-color: #f5f5f5; /* Cambia el color de fondo del torneo */
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  position: relative;
}

.columna > h2 {
  margin-bottom: 10px;
  color: #333333; /* Cambia el color del texto del título de la columna */
}

.partida {
  background-color: rgba(255, 255, 255, 0.8); /* Cambia el color de fondo de las partidas */
  border-radius: 4px;
  padding: 10px;
  margin-bottom: 10px;
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente las partidas */
}

.equipo {
  font-weight: bold;
  margin-bottom: 5px;
  font-size: 18px;
  color: #222222; /* Cambia el color del texto de los equipos */
}

.bracket,
.fecha {
  color: #888888;
  font-size: 14px;
  margin-top: 10px;
}

/* Estilos para los colores de los brackets */
.bracket-1 {
  background-color: rgba(252, 161, 161, 0.8); /* Cambia el color de fondo del bracket 1 y ajusta la transparencia */
}

.bracket-2 {
  background-color: rgba(255, 204, 153, 0.8); /* Cambia el color de fondo del bracket 2 y ajusta la transparencia */
}

.bracket-3 {
  background-color: rgba(242, 227, 148, 0.8); /* Cambia el color de fondo del bracket 3 y ajusta la transparencia */
}

.bracket-4 {
  background-color: rgba(162, 213, 166, 0.8); /* Cambia el color de fondo del bracket 4 y ajusta la transparencia */
}

.bracket-5 {
  background-color: rgba(139, 211, 206, 0.8); /* Cambia el color de fondo del bracket 5 y ajusta la transparencia */
}

.bracket-6 {
  background-color: rgba(139, 195, 211, 0.8); /* Cambia el color de fondo del bracket 6 y ajusta la transparencia */
}

.bracket-7 {
  background-color: rgba(191, 162, 211, 0.8); /* Cambia el color de fondo del bracket 7 y ajusta la transparencia */
}

.bracket-8 {
  background-color: rgba(252, 161, 211, 0.8); /* Cambia el color de fondo del bracket 8 y ajusta la transparencia */
}
